.party-manifesto .ant-layout-has-sider {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 0;
}

.party-manifesto .ant-layout-content {
    min-height: 350px;

    @media only screen and (min-width: 768px) {
        min-height: 700px;
    }
}

section.party-manifesto-body {
    max-width: 850px;
    padding: 0 30px;
    margin: 50px auto 0;

    @media only screen and (min-width: 768px) {
        padding: 50px 60px 0 70px;
    }

    @media only screen and (min-width: 1200px) {
        padding: 50px 200px 0 5px;
    }

    h2 {
        margin-left: 0;
        text-align: left;
    }
}

.party-manifesto-body__title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.4em;
    color: $darkerGrey;

    @media only screen and (min-width: 768px) {
        font-size: 34px;
    }
}

.party-manifesto-body__content p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: $darkerGrey;
}

.party-manifesto-sider {
    padding: 90px 0 80px;
    background-color: transparent;
    border-right: 1px solid $darkGrey;

    @media only screen and (max-width: 768px) {
        flex: 1 0 auto !important;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        padding: 0;
    }

    @media only screen and (min-width: 768px) {
        display: inline-block;
    }

    .ant-layout-sider-children {
        @media only screen and (max-width: 768px) {
            border-top: 1px solid $darkGrey;
            border-bottom: 1px solid $darkGrey;
        }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
    }

    .ant-layout-sider-children .ant-menu-item {
        padding-right: 24px;
    }

    .ant-menu-item,
    .ant-menu-submenu {
        height: auto;
        margin: 0;
        color: $darkerGrey;
        border-bottom: 1px solid $darkGrey;

        &:last-of-type {
            border: none;
        }

        &:not(:last-child) {
            margin: 0;
        }

        .ant-menu-submenu-title {
            margin: 0;
        }

        a {
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $darkerGrey;
            font-weight: 400;
        }
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        pointer-events: none;
        background-color: $lightGrey;
        color: black;

        &::after {
            border-color: $darkGrey;
        }

        a {
            color: black;
        }
    }

    .ant-menu-item-active,
    .ant-menu-submenu-selected {
        color: black;
    }

    .ant-menu-item:hover,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover,
    .ant-menu-item a:hover {
        color: rgba($darkerGrey, .7)
    }

    .ant-menu-sub.ant-menu-inline>.ant-menu-item,
    .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title,
    .ant-menu-vertical>.ant-menu-item,
    .ant-menu-vertical-left>.ant-menu-item,
    .ant-menu-vertical-right>.ant-menu-item,
    .ant-menu-inline>.ant-menu-item,
    .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title,
    .ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title,
    .ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title,
    .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
        height: auto;
        padding: 5px 45px 5px 24px;
        margin: 0;
    }
}

.party-manifesto__share-popover {
    .party-manifesto__share-popover-inner {
        position: relative;
        overflow: hidden;
        background-color: $darkerGrey;
        border: 1px solid;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color .15s ease-in-out;

        &:hover {
            background-color: $darkGrey;
        }

        img {
            width: 58px;
            height: auto;
        }
    }
}

.party-manifesto-item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.party-manifesto-item__bar {
    flex: 0 0 5px;
    margin-right: 10px;
    background-color: black;
    cursor: pointer;
}