.party-header {
    background-color: $lightGrey;
    padding-top: 80px;
    height: auto;
    text-align: center;

    .party-header-title {
        font-size: 24px;

        @media only screen and (min-width: 768px) {
            font-size: 38px;
        }
    }

    .party-header-subtitle {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;

        @media only screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

    .ant-avatar {
        margin: 0 auto 10px;
    }

    .party-header__program-cta {
        margin-top: 20px;
        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .party-header__program-button {
        margin: 10px;
    }

    .party-header__social {
        flex-flow: column wrap;

        @media only screen and (min-width: 992px) {
            flex-direction: row;
        }
    }

    .social-media-list {
        margin-top: 30px;

        @media only screen and (min-width: 992px) {
            margin-top: 0;
            margin-left: 15px;
        }

        li {
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;

                @media only screen and (min-width: 992px) {
                    margin-right: 0;
                }
            }
        }

        img {
            height: 30px;

            @media only screen and (min-width: 992px) {
                height: 20px;
            }
        }
    }
}
