.party-intro__text {

    p,
    .ant-typography {
        color: $darkerGrey;
        padding-bottom: 5px;
        white-space: pre-wrap;

        a {
            color: $darkerGrey;
            font-weight: 700;
            text-decoration: underline;
            transition: color .15s ease-in-out;

            &:hover,
            &:focus {
                color: rgba($darkerGrey, .7);
            }
        }
    }

}

.party-intro__spokesperson {
    text-align: center;

    .ant-avatar {
        display: block;
        margin: 0 auto 10px;
    }

    .party-intro__spokesperson-name {
        position: relative;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1.3em;
    }

    .party-intro__spokesperson-description {
        max-width: 220px;
        margin: 0 auto;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3em;
    }
}
