@import './../../common/colors';

section.home-voting-countdown {
    padding: 0;

    .ant-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0 60px;
        margin-top: 40px;
        text-align: center;
        border-top: 1px solid $darkGrey;
    }
}

.countdown-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 20px auto;
}

.countdown-unit {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.countdown-unit-value {
    font-size: 20px;
    line-height: 20px;

    @media only screen and (min-width: 992px) {
        font-size: 50px;
        line-height: 50px;
    }
}

.countdown-unit-label {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;

    @media only screen and (min-width: 992px) {
        font-size: 15px;
    }
}

.countdown-unit-separator {
    font-size: 16px;
    margin: 0 7px;

    @media only screen and (min-width: 992px) {
        font-size: 30px;
        margin: 0 20px;
    }
}
