section.home-videos {
    padding: 0;

    .ant-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0 60px;
        margin-top: 0;
    }
}

.player-wrapper {
  position: relative;
  padding-top: 40% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
