section.home-our-mission {
    padding: 50px 0 30px;

    @media only screen and (min-width: 768px) {
        padding: 80px 0 70px;
    }

    .ant-row-flex {
        flex-flow: column wrap;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
}

.home-our-mission-text {
    @media only screen and (min-width: 992px) {
        margin-left: 0;
        margin-right: auto;

        p {
            margin-bottom: 0;
        }
    }
}

.home-our-mission-img {
    margin: 50px auto 0;
    text-align: center;

    @media only screen and (min-width: 992px) {
        padding-left: 30px;
        margin-top: 0;
        margin-right: 0;
        margin-left: auto;
        text-align: right;
    }

    img {
        width: 100%;
        max-width: 500px;
    }
}
