.home-warning-container {
    text-align: center;
}

.home-warning-close-icon {
    color: $darkGrey !important;
    font-size: 25px;
    font-weight: bold;
}

.home-warning-content-wrapper {
    padding: 30px;
    text-align: justify;
    font-size: 18px;
}

.home-warning-footer-wrapper {
    padding-bottom: 40px;
}
