.avatar-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px -15px 0;
    text-align: center;

    .avatar-list-item {
        display: block;
        flex: 0 1 50%;
        padding: 0 15px;
        margin-bottom: 60px;
        text-align: center;
        text-decoration: none;

        @media only screen and (min-width: 768px) {
            flex: 0 1 33.333%;
        }

        @media only screen and (min-width: 992px) {
            flex: 0 1 16%;
        }

        .avatar-list-item__content {
            max-width: 180px;
            margin: 0 auto;

            @media only screen and (min-width: 992px) {
                max-width: 220px;
            }
        }

        .ant-avatar {
            margin: 0 auto 10px;

            img {
                // TODO: This should temporary. Images should fit with both properties at 100%.
                max-height: 75%;
                max-width: 75%;
            }
        }

        .avatar-list-item__content-title {
            position: relative;
            padding-bottom: 8px;
            margin-bottom: 0;
            font-size: 20px;
            line-height: 1.3em;
            text-decoration: none;

            &::after {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
                border-top: 1px solid #d3d3d3;
                width: 100px;
                content: '';
            }
        }

        .avatar-list-item__content-subtitle {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.3em;
            text-decoration: none;
        }
    }
}

a.avatar-list-item {
    display: flex;
    transition: opacity .15s ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.avatar-list-container--column {
    padding-bottom: 100px;

    .avatar-list-item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid #d3d3d3;

        &:last-of-type {
            border-bottom: 1px solid #d3d3d3;
        }

        .ant-avatar {
            flex: 0 1 140px;
        }

        .avatar-list-item__content-title {
            flex: 1 0 auto;
            padding-left: 50px;
            margin: 0;
            font-size: 40px;
        }

        .avatar-list-item__content-cta {
            flex: 0 1 auto;
            max-width: 250px;
            margin-right: 0;
        }
    }
}

.ant-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    &.ant-avatar-image {
        background: white;
    }

    img {
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        max-height: 100%;
        max-width: 100%;
    }
}
