// Styles for the header component
.header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: $darkGrey;
    min-height: 80px;

    .ant-row-flex {
        width: 100%;
        max-width: none;

        @media only screen and (min-width: 768px) {
            max-width: calc(100% - 30px);
        }

        @media only screen and (min-width: 1200px) {
            max-width: 1170px;
        }
    }

    .ant-col {
        display: flex;
        align-items: center;
    }
}

.header_logo {
    width: 200px;
    height: auto;
}

.ant-layout-header .ant-menu {
    flex-grow: 1;
    margin-left: 30px;
    background-color: $darkGrey;
    border: none;

    .ant-menu-item {
        border: none;

        &:hover {
            border: none;
        }
    }

    .ant-menu-item a {
        font-size: 16px;
        letter-spacing: 0.3px;
        color: white;
        border: none;
        text-decoration: none;
        transition: color .15s ease-in-out;

        &:hover,
        &:focus {
            color: rgba(white, .7);
            border: none;
        }
    }

    .ant-menu-horizontal {
        border: none;
    }
}

.ant-drawer {
    .ant-menu {
        margin-bottom: 8px;
        margin-left: 0;
        background: transparent;

        .ant-menu-item {
            display: block;
            padding: 0;
            background-color: transparent;

            a {
                color: black;

                &:hover {
                    color: black;
                }
            }
        }
    }

    .ant-drawer-content-wrapper {
        min-width: 80%;
    }

    .social-media-list {
        margin-top: 18px;

        li {
            margin-right: 10px;

            .social-media__icon {
                height: 28px;
            }
        }
    }
}

.header-join-us {
    display: inline-block;
    margin-right: 30px;
    background-color: $lightGrey;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    line-height: 38px;
    padding: 0 10px;
    transition: background-color .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-color: $washedWhite;
        color: black;
        opacity: 1;
    }
}

.header__desktop-menu {
    display: none;

    @media only screen and (min-width: 992px) {
        display: flex;
        flex: 1;
        margin-right: -8px;
        margin-left: auto;
        align-items: center;
    }
}


.header__mobile-burger,
.header__mobile-menu {
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.header__mobile-burger.ant-btn {
    position: relative;
    top: 1px;
    margin-right: -8px;
    margin-left: auto;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;

    img {
        width: 25px;
        height: auto;
    }
}
