// Styles for the Social media component
.social-media {
    display: flex;
    align-items: center;
}

.social-media__icon {
    width: 1em;
    height: 1em;
}

.social-media-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: flex;
            transition: opacity .15s ease-in-out;

            &:hover,
            &:focus {
                opacity: .7;
            }

            .social-media__icon {
                width: auto;
                height: 20px;
                vertical-align: top;
            }
        }
    }
}

.social-media-list a:hover {
    background-color: transparent;
}

.social-media-list .social-media__icon {
    fill: white;
}
