// Styles for the Social media component
.social-media {
    display: flex;
    align-items: center;
}

.social-media__icon {
    width: 1em;
    height: 1em;
}

.social-media-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
        margin-right: 3px;

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: inline-block;

            svg {
                width: auto;
                height: 20px;
                vertical-align: top;
            }
        }
    }
}

.social-media-list a:hover {
    background-color: transparent;
}

.social-media-list svg {
    fill: white;
}
