@import './colors';

// Styles for the footer component
.footer.ant-layout-footer {
    min-height: 150px;
    padding: 90px 0 50px;
    color: $darkerGrey;
    background-color: $darkGrey;

    h2 {
        font-weight: 600;
        color: black;
    }

    p a {
        color: $darkerGrey;
        text-decoration: underline;

        &:hover {
            color: $darkerGrey;
            text-decoration: none;
        }
    }
}

.footer_logo {
    width: 240px;
    height: auto;
}

.footer .social-media-list {
    display: inline-block;
    padding-left: 0;

    li {
        display: inline-block;
    }

    .social-media__icon {
        height: 25px;
    }
}

.footer-info {
    margin-bottom: 50px;

    @media only screen and (min-width: 992px) {
        max-width: 600px;
        margin-bottom: 0;
        margin-left: 80px;
    }
}

.footer-social {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    order: 2;

    @media only screen and (min-width: 992px) {
        order: initial;
        justify-content: flex-start;
        text-align: left;
    }
}

.footer .social-media-list {
    margin-bottom: 10px;
}
