@import './colors';

// Styles for the header component
.header {
    display: flex;
    height: auto;
    padding: 0;
    background-color: $darkGrey;
    min-height: 80px;

    .ant-row-flex {
        width: 100%;
    }

    .ant-col {
        display: flex;
        align-items: center;
    }
}

.header_logo {
    width: 200px;
    height: auto;
}

.ant-layout-header .ant-menu {
    flex-grow: 1;
    margin-left: 30px;
    background-color: $darkGrey;
    border: none;

    .ant-menu-item {
        border: none;

        &:hover {
            border: none;
        }
    }

    .ant-menu-item a {
        color: white;
        border: none;
        text-decoration: none;

        &:hover {
            color: white;
            border: none;
        }
    }

    .ant-menu-horizontal {
        border: none;
    }
}

.header-join-us {
    margin-right: 30px;
    background-color: $lightGrey;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    transition: background-color .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-color: $washedWhite;
        color: black;
        opacity: 1;
    }
}
