@import './colors';

// Styles for the header component
.header {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 10%;
    background-color: $darkGrey;
}

.ant-layout-header .ant-menu {
    background-color: $darkGrey;
    flex-grow: 1;
    border: none;

    .ant-menu-item {
        border: none;

        &:hover {
            border: none;
        }
    }

    .ant-menu-item a {
        color: white;
        border: none;
        text-decoration: none;

        &:hover {
            color: white;
            border: none;
        }
    }

    .ant-menu-horizontal {
        border: none;
    }
}

.header-join-us {
    margin-right: 30px;
    background-color: $lightGrey;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    transition: background-color .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-color: $washedWhite;
        color: black;
        opacity: 1;
    }
}

.header-social-media ul {
    padding-left: 0;

    li {
        margin-right: 3px;

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: inline-block;

            svg {
                width: auto;
                height: 20px;
                vertical-align: top;
            }
        }
    }
}
