// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './common/colors';

section.home-our-mission {
    padding: 50px 0 30px;

    @media only screen and (min-width: 768px) {
        padding: 80px 0 70px;
    }

    .ant-row-flex {
        flex-flow: column wrap;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
}

.home-our-mission-text {
    @media only screen and (min-width: 992px) {
        margin-left: 0;
        margin-right: auto;

        p {
            margin-bottom: 0;
        }
    }
}

.home-our-mission-img {
    margin: 50px auto 0;
    text-align: center;

    @media only screen and (min-width: 992px) {
        padding-left: 30px;
        margin-top: 0;
        margin-right: 0;
        margin-left: auto;
        text-align: right;
    }

    img {
        width: 100%;
        max-width: 500px;
    }
}

section.home-voting-countdown {
    padding: 0;

    .ant-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0 60px;
        margin-top: 40px;
        text-align: center;
        border-top: 1px solid $darkGrey;
    }
}

.countdown-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 20px auto;
}

.countdown-unit {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.countdown-unit-value {
    font-size: 20px;
    line-height: 20px;

    @media only screen and (min-width: 992px) {
        font-size: 50px;
        line-height: 50px;
    }
}

.countdown-unit-label {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;

    @media only screen and (min-width: 992px) {
        font-size: 15px;
    }
}

.countdown-unit-separator {
    font-size: 16px;
    margin: 0 7px;

    @media only screen and (min-width: 992px) {
        font-size: 30px;
        margin: 0 20px;
    }
}

section.home-motivation {
    padding: 80px 0 70px;

    .ant-row-flex {
        flex-flow: row wrap;
    }
}

.home-motivation__text {
    margin-bottom: 50px;

    @media only screen and (min-width: 992px) {
        margin-bottom: 0;
    }

    ol {
        padding-left: 20px;
    }
}

.home-warning-container {
    text-align: center;
}

.home-warning-close-icon {
    color: $darkGrey !important;
    font-size: 25px;
    font-weight: bold;
}

.home-warning-content-wrapper {
    padding: 30px;
    text-align: justify;
    font-size: 18px;
}

.home-warning-footer-wrapper {
    padding-bottom: 40px;
}

.home-parties-list_disclaimer {
    display: block;
    max-width: 450px;
    margin: 0 auto 20px;
    color: $darkerGrey;
    text-align: center;
    font-style: italic;
}
