// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './common/colors';

.home-join {
    display: flex;
}

.home-join-container~.home-join-container {
    margin-left: 20px;
}

.home-our-mission {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.home-our-mission-img {
    margin-left: 10px;

    img {
        width: 300px,
    }
}

.home-voting-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid;
    padding: 30px 0;
}

.countdown-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.countdown-unit {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.countdown-unit-value {
    font-size: 50px;
    line-height: 50px;
}

.countdown-unit-label {
    font-size: 15px;
    line-height: 15px;
}

.countdown-unit-separator {
    font-size: 30px;
    margin: 0 20px;
}

.home-warning-container {
    text-align: center;
}

.home-warning-close-icon {
    color: $darkGrey !important;
    font-size: 25px;
    font-weight: bold;
}

.home-warning-content-wrapper {
    padding: 30px;
    text-align: justify;
    font-size: 18px;
}

.home-warning-footer-wrapper {
    padding-bottom: 40px;
}

.home-parties-list_disclaimer {
    text-align: center;
    font-style: italic;
}