// External libs
@import 'antd/dist/antd.css';

// General styles
.ant-layout {
    background-color: #fff;
}

// Home page
.ant-layout-content section {
    padding: 20px 10%;
}

.ant-layout-content section:nth-child(even) {
    background-color: #f5f5f5;
}

.comentar-css-header {
    display: flex;
    background-color: red;
}

.ant-layout-header {
    height: auto;
    padding: 0 10%;
    background-color: #798184;
}

.ant-layout-header .ant-menu {
    background-color: #798184;
    flex-grow: 1;
}

.ant-layout-header .ant-menu .ant-menu-item {
    color: #fff;
    border: none;
}

.ant-layout-header .ant-menu .ant-menu-item:hover {
    color: #fff;
    border: none;
}

.ant-layout-header .ant-menu-horizontal {
    border: none;
}

.ant-layout-footer {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #798184;
    color: white;
}

.ant-layout-footer h2 {
    color: white;
}

.comentar-css-join {
    display: flex;
}

.comentar-css-join-container~.comentar-css-join-container {
    margin-left: 20px;
}

.comentar-css-social-media {
    display: flex;
    align-items: center;
}

.comentar-css-social-media__icon {
    width: 1em;
    height: 1em;
}

.comentar-css-social-media-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.comentar-css-social-media-list a:hover {
    background-color: transparent;
}

.comentar-css-social-media-list svg {
    fill: white;
}

.comentar-css-voting-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
