.party-section {
    
    
    .ant-layout-content {
        padding: 32px;
        
        @media only screen and (min-width: 992px) {
            padding: 64px;
        }
    }

    section.ant-layout {
        padding: 0;
    }

    .party-header {
        background-color: #eeeeee;
        padding-top: 80px;
        height: auto;
        text-align: center;
        
        @media only screen and (min-width: 992px) {
            padding-top: 160px;
        }

        .social-media-list {
            margin-left: 10px;
        }
    }

    .party-intro {
      &__spokesperson {
        text-align: center;
      }
    }

    .metrics {
      &__container {
        background-color: #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
        padding: 32px;
        text-align: center;
        @media only screen and (min-width: 992px) {
          padding: 64px;
        }
      }
      &__chart {
        list-style: none;
        margin: 17px 0 32px 0;
        padding: 0;
        @media only screen and (min-width: 992px) {
          margin: 34px 0 64px 0;
        }
        li {
          display: block;
          min-width: 100%;
          text-align: center;
          @media only screen and (min-width: 992px) {
            display: inline-block;
            min-width: auto;
          }
          &:first-child {
            .chart__line {
              border-bottom-left-radius: 3px;
              border-top-left-radius: 3px;
            }
          }
          &:last-child {
            .chart__line {
              border-bottom-right-radius: 3px;
              border-top-right-radius: 3px;
            }
          }
          .ant-typography {
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
          }
        }
        .chart__line {
          display: block;
          height: 20px;
          &--green {
            background-color: #AEE88A;
          }
          &--yellow {
            background-color: #FFCA63;
          }
          &--red {
            background-color: #FF665A;
          }
          &--blue {
            background-color: #79DCE8;
          }
          &--gray {
            background-color: #C4C4C4;
          }
        }
      }
      &__summary {
        list-style: none;
        margin: 0 0 34px 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        li {
          display: inline-block;
          text-align: center;
          .summary__value {
            font-weight: bold;
            font-size: 32px;
            color: #666666;
          }
        }
        @media only screen and (max-width: 991px) {
          display: block;
        }
      }
    }
    .candidates {
      &__circles {
        text-align: right;
      }
      &__list {
        margin-top: 32px;
      }
    }
  }