@import './common/colors';

main.party-section {
    padding: 0;

    .ant-layout-content {
        padding: 32px;

        @media only screen and (min-width: 992px) {
            padding: 64px;
        }
    }

    .ant-divider {
        background-color: $darkGrey;
    }

    section.ant-layout {
        padding: 0;
    }

    .party-header {
        background-color: $lightGrey;
        padding-top: 80px;
        height: auto;
        text-align: center;

        h1 {
            font-size: 24px;

            @media only screen and (min-width: 768px) {
                font-size: 38px;
            }
        }

        .ant-avatar {
            margin: 0 auto 10px;

            img {
                // TODO: This should temporary. Images should fit with both properties at 100%.
                max-height: 75%;
                max-width: 75%;
            }
        }

        .party-header__social {
            flex-flow: column wrap;

            @media only screen and (min-width: 992px) {
                flex-direction: row;
            }
        }

        .social-media-list {
            margin-top: 30px;

            @media only screen and (min-width: 992px) {
                margin-top: 0;
                margin-left: 15px;
            }

            li {
                margin-right: 10px;

                @media only screen and (min-width: 992px) {
                    margin-right: 3px;
                }

                &:last-of-type {
                    margin-right: 0;

                    @media only screen and (min-width: 992px) {
                        margin-right: 0;
                    }
                }
            }

            img {
                height: 30px;

                @media only screen and (min-width: 992px) {
                    height: 20px;
                }
            }
        }

    }

    .party-intro {
        &__spokesperson {
            text-align: center;
        }
    }

    .metrics {
        &__container {
            background-color: $lightGrey;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 32px;
            text-align: center;

            @media only screen and (min-width: 992px) {
                padding: 64px;
            }
        }

        &__chart {
            list-style: none;
            margin: 17px 0 32px 0;
            padding: 0;

            @media only screen and (min-width: 992px) {
                margin: 34px 0 64px 0;
            }

            li {
                display: block;
                min-width: 100%;
                text-align: center;

                @media only screen and (min-width: 992px) {
                    display: inline-block;
                    min-width: auto;
                }

                &:first-child {
                    .chart__line {
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                    }
                }

                &:last-child {
                    .chart__line {
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                }

                .ant-typography {
                    margin-top: 20px;
                    font-size: 24px;
                    font-weight: bold;
                }
            }

            .chart__line {
                display: block;
                height: 20px;

                &--green {
                    background-color: #AEE88A;
                }

                &--yellow {
                    background-color: #FFCA63;
                }

                &--red {
                    background-color: #FF665A;
                }

                &--blue {
                    background-color: #79DCE8;
                }

                &--gray {
                    background-color: #C4C4C4;
                }
            }
        }

        &__summary {
            list-style: none;
            margin: 0 0 34px 0;
            padding: 0;
            display: flex;
            justify-content: space-around;

            li {
                display: inline-block;
                text-align: center;

                .summary__value {
                    font-weight: bold;
                    font-size: 32px;
                    color: $darkerGrey;
                }
            }

            @media only screen and (max-width: 991px) {
                display: block;
            }
        }
    }
}

.candidates {
    .candidates__circles {
        text-align: right;
    }

    .candidates__list {
        margin-top: 32px;
        text-align: center;
    }

    .candidate .ant-avatar {
        margin: 0 auto 10px;

        @media only screen and (min-width: 768px) {
            width: 160px !important;
            height: 160px !important;
        }
    }

    .candidate {
        margin-bottom: 30px;
    }

    .candidate__content {
        max-width: 180px;
        margin: 0 auto;

        @media only screen and (min-width: 992px) {
            max-width: 220px;
        }
    }

    .candidate__content-title.ant-typography {
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.3em;
        text-decoration: none;
    }

    .candidate__content-circle,
    .candidate__content-biography {
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3em;
        text-decoration: none;
    }

    .candidate__content-circle {
        padding-bottom: 8px;
        margin-top: 0;

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            border-top: 1px solid #d3d3d3;
            width: 100px;
            content: '';
        }
    }
}
